*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather',serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6843d1;
}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    padding: 10px 0 50px;
}
.contenido h1{
    width: 100%;
    text-align: center;
    padding-top: 10vh;
    font-size: 5vh;
}
.contenido .tarea{
    position: relative;
    min-width: 300px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    margin: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.contenido .tarea .caja{
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #5e21a3;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 2px solid #1e1f23;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}
.contenido .tarea .caja .contenido_caja{
    padding: 20px;
}
.contenido .tarea .caja .contenido_caja h3{
    padding-top: 50px;
    font-size: 1.8em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
}
.contenido .tarea .caja .contenido_caja p{
    padding-top: 20px;
    text-align: justify;
}
.contenido .tarea .caja .contenido_caja button{
    background-color: #4CAF50;
    position: absolute;
    bottom:40px;
    right: 10px;
    border: none;
    border-radius: 15px;
    color: white;
    height: 45px;
    width: 90%;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}

